[Desktop Entry]
Version=1.0
Name=Chessly
Comment=Chessly
Exec=omarchy-launch-webapp https://chessly.com/home
Terminal=false
Type=Application
Icon=chessly-webapp
StartupNotify=true
