[Desktop Entry]
Version=1.0
Name=Chess
Comment=Chess.com
Exec=omarchy-launch-webapp https://chess.com/home
Terminal=false
Type=Application
Icon=chess-webapp
StartupNotify=true
