[Desktop Entry]
Version=1.0
Name=Chessly
Comment=Chessly
Exec=omarchy-launch-webapp https://chessly.com/home
Terminal=false
Type=Application
Icon=/home/john/.local/share/applications/icons/Chessly.png
StartupNotify=true
