[Desktop Entry]
Version=1.0
Name=Chess
Comment=Chess.com
Exec=omarchy-launch-webapp https://chess.com/home
Terminal=false
Type=Application
Icon=/home/john/.local/share/applications/icons/Chess.png
StartupNotify=true
